div {
    height: 400px;
    width: 400px;

    border-width: 15px;
    border-style: double;
    border-color: rgb(218, 204, 83);
    
    

      background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2F34568.cdn.simplo7.net%2Fstatic%2F34568%2Fsku%2Fcortadores-para-confeitaria-flor-conjunto-de-cortador-de-flor-amor-perfeito-petalas-e-sepala--p-1641329633494.png&tbnid=hI8TZmCk6zAdfM&vet=12ahUKEwjXgqWH9_yBAxUCHrkGHdlVCTMQ94IIKEV6BQgBEJsC..i&imgrefurl=https%3A%2F%2Fwww.adalgisaalmeida.com%2Fcortadores-para-confeitaria%2Fflor%2Fconjunto-de-cortador-de-flor-amor-perfeito-petalas-e-sepala--p&docid=jQy4EtPkrqBJWM&w=426&h=423&q=amor%20perfeito%20flor&ved=2ahUKEwjXgqWH9_yBAxUCHrkGHdlVCTMQ94IIKEV6BQgBEJsC");
      text-align: center;
      box-shadow: inset rgb(238, 134, 238) 12px 10px 10px 12px;
      background-size: cover;

           padding-top: 10px;
           padding-right: 10px;
           padding-bottom: 5px;
           padding-left: 10px;
    
             outline-width: 15px;
             outline-style: groove;
             outline-color: rgb(136, 13, 85);
              
                margin: auto;
                margin-top: 85px;



}
p {
    padding-top: 110px;
    font-size: 50px;
    font-style: oblique;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white
  }
   
